div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

/* static 기본값임 */
/* 작성하지 않아도 적용 됨 */
/* 인라인 요소 왼 -> 오 방향으로 쌓임 */
/* 블록요소 위 -> 아래 방향으로 쌓임 */

.position-static {
  background-color: antiquewhite;
  position: static;
}

/* relative 상대위치 */
/* 일반적인 흐름에 따라 배치 top bottom left right 중 하나를 꼭 작성 해야 함*/
/* 원래 있어야 하는 위치 기준으로 부터 top bottom left right 방향으로 이동 함 */
/* 배치(위치)가 바뀌어도 원래 기존의 자리가 유지된다 */
/* 보통 부모 요소로 많이 사용 됨 */
.position-relative {
  background-color: cornflowerblue;
  position: relative;
  left: 100px;
}

/* absolute 절대위치 */
/* 누구를 기준으로  position 속성을 갖는 제일 가까운 조상을 기준으로 함  */
/* 특정요소를 기준 삼아서 top bottom left right 방향으로 움직이겠다 */
/* 배치가 바뀌면 기존의 자리가 없어진다 */
.position-absolute {
  background-color: darksalmon;
  position: absolute;
  left: 50px;
}

/* fixed 고정위치 */
/* 뷰포트 브라우저의 화면 전체를 기준으로 특정 위치 배치 */
/* 스크롤이 되어도 움직이지 않음 */
/* header, footer에 많이 사용 */
.position-fixed {
  background-color: lightblue;
  position: fixed;
  top: 0;
  right: 0;
}
